<div id="profile-body">
<img src="/{{{thisuser.avatar}}}">
<div id="profile-right">
<h2>{{thisuser.username}}</h2><br>
{{thisuser.firstname}} {{thisuser.lastname}}<br>
Country: {{thisuser.country}}<br>
City: {{thisuser.city}}<br>
Region : {{thisuser.region}}<br>
email : {{thisuser.email}}<br>
Creations Chosen: {{thisuser.chosen}}<br>
Submissions : {{thisuser.submissions}} <br>
</div>
<br>
<table>
  <tr>
    <th class="row-titles">Title</th>
    <th class="row-titles">Date</th> 
    <th class="row-titles">Votes</th>
  </tr>
{{#each subs}}
  <tr>
    <td class = "table-data"><a href="/request/{{id}}">{{title}}</a></td>
    <td class = "table-data"><a href="/request/{{id}}">{{daterequested}}</a></td> 
    <td class = "table-data"><a href="/request/{{id}}">{{votes}}</a></td>
  </tr>
{{/each}}
</table>
<div>
</div>


