<div>
	{{info.title}}<br>
	{{info.description}}<br>
	{{info.daterequested}}
</div>
<br>
{{delete info.users_id}}

<div>
	<form action="/reply/{{info.id}}" method="POST" enctype="multipart/form-data">
		<input id="replyUpload" name="url" type="file"><br>
		<textarea name="description"></textarea><br>
		<input type="submit" value="Submit">
	</form>
</div>
<br>
<div>
	{{#each list}}
	<div>
		{{filekind filetype url}}
		{{votes}}<br>
		{{chosen}}<br>
			{{#if description}}
				{{description}}<br>
			{{/if}}
		{{filetype }}<br>
		{{dateuploaded}}<br>
		{{users_id}}<br>
	</div>
	<a href="/upvote/{{../info.id}}/{{id}}">Upvote</a><br>
	<a href="/downvote/{{../info.id}}/{{id}}">Downvote</a>
	{{deleteFile ../info.users_id id}}
	{{/each}}
</div>