{{#each info}}
<div>
	<a href="/request/{{id}}">
		{{title}}
	</a>
		{{daterequested}}
		{{description}}
		{{votes}}
		<a href="/upvotereq/{{id}}">Upvote</a>
		<a href="/downvotereq/{{id}}">Downvote</a>
</div>
{{/each}}